<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="ext\nuget" />
  </config>
  <packageSources>
    <add key="local repository" value="C:\BMA\biomodelanalyzer\ext\nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>