<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="ext\nuget" />
  </config>
  <packageSources>
    <add key="local repository" value="ext\nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="NuGet official package source" value="true" />
  </disabledPackageSources>
</configuration>