<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="BMAWebApi.IFailureLogger, BMAWebApi"
              mapTo="BMAWebApi.FailureAzureLogger, BMAWebApi">
        <constructor>
          <param name="connectionString"
                 value="UseDevelopmentStorage=true" />
        </constructor>
      </register>
      
      <register type="BMAWebApi.IActivityLogger, BMAWebApi"
                mapTo="BMAWebApi.ActivityAzureLogger, BMAWebApi">
        <constructor>
          <param name="connectionString"
                 value="UseDevelopmentStorage=true" />
        </constructor>
      </register>

      <register type="bma.Cloud.IScheduler, FairShareScheduler"
                mapTo="bma.Cloud.FairShareScheduler, FairShareScheduler">
        <constructor>
          <param name="connectionString"
                 value="UseDevelopmentStorage=true" />
          <param name="maxNumberOfQueues"
                 value="25" />
          <param name="name"
                 value="ltlpolarity" />
        </constructor>
      </register>
    </container>
</unity>