<?xml version="1.0" encoding="utf-8"?>
<!--
When this configuration file is referenced from Web.config,
it makes the Web Application to use `FailureTraceLogger` and `ActivityTraceLogger`.
These loggers write messages to `System.Diagnostics.TraceSource` with the given name and event id.
Event id are identifiers that allow to distinguish trace messages. 
-->
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="BMAWebApi.IFailureLogger, BMAWebApi"
              mapTo="BMAWebApi.FailureTraceLogger, BMAWebApi">
      <constructor>
        <param name="traceSourceName"
               value="BioModelAnalyzer" />
        <param name="eventId"
               value="1" />
      </constructor>
    </register>

    <register type="BMAWebApi.IActivityLogger, BMAWebApi"
              mapTo="BMAWebApi.ActivityTraceLogger, BMAWebApi">
      <constructor>
        <param name="traceSourceName"
               value="BioModelAnalyzer" />
        <param name="eventId"
               value="2" />
      </constructor>
    </register>
  </container>
</unity>