<?xml version="1.0" encoding="utf-8"?>
<!--
When this configuration file is referenced from Web.config,
it makes the Web Application to use FailureAzureLogger and ActivityAzureLogger.
These loggers write messages to Azure Storage Emulator.

- Activity logs are stored in the `ClientActivity` table.
- Failure logs are stored in the `ServiceFailures` table.    
Table rows reference blobs of the `failures` container which keep both failed request and response.

The `/sln/ClientStat` solution builds a command line tool that allows to retrieve statistics from
a Storage Account and display it as charts.

The type `FairShareScheduler` allows to perform long-running LTL checks using cloud service.
This `<register>` element enables the ApiServer to schedule tasks; you need to run the Cloud Service
using `/sln/bmaclient-lra` solution for the corresponding storage account to perform the tasks.
Note that web application `bma.client` doesn't allow starting such tasks yet.
-->
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="BMAWebApi.IFailureLogger, BMAWebApi"
              mapTo="BMAWebApi.FailureAzureLogger, BMAWebApi">
        <constructor>
          <param name="connectionString"
                 value="UseDevelopmentStorage=true" />
        </constructor>
      </register>
      
      <register type="BMAWebApi.IActivityLogger, BMAWebApi"
                mapTo="BMAWebApi.ActivityAzureLogger, BMAWebApi">
        <constructor>
          <param name="connectionString"
                 value="UseDevelopmentStorage=true" />
        </constructor>
      </register>

      <register type="bma.Cloud.IScheduler, FairShareScheduler"
                mapTo="bma.Cloud.FairShareScheduler, FairShareScheduler">
        <constructor>
          <param name="connectionString"
                 value="UseDevelopmentStorage=true" />
          <param name="maxNumberOfQueues"
                 value="25" />
          <param name="name"
                 value="ltlpolarity" />
        </constructor>
      </register>
    </container>
</unity>