<?xml version="1.0" encoding="utf-8"?>
<!--
When this configuration file is referenced from Web.config,
it makes the Web Application to use FailureAzureLogger and ActivityAzureLogger.
These loggers write messages to Azure Storage Account, which must be specified by "connectionString" parameters.

- Activity logs are stored in the `ClientActivity` table of the given Storage Account.
- Failure logs are stored in the `ServiceFailures` table of the given Storage Account.    
Table rows reference blobs of the `failures` container which keep both failed request and response.

The `/sln/ClientStat` solution builds a command line tool that allows to retrieve statistics from
a Storage Account and display it as charts.
-->
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="BMAWebApi.IFailureLogger, BMAWebApi"
              mapTo="BMAWebApi.FailureFileLogger, BMAWebApi">
      <constructor>
        <param name="dir"
               value="Failures" />
        <param name="tryServerPath"
               value="True" />
      </constructor>
    </register>

    <register type="BMAWebApi.IActivityLogger, BMAWebApi"
              mapTo="BMAWebApi.ActivityFileLogger, BMAWebApi">
      <constructor>
        <param name="dir"
               value="ActivityLog" />
        <param name="tryServerPath"
               value="True" />
      </constructor>
    </register>
  </container>
</unity>