<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="0.8.3.0" targetFramework="net45" />
  <package id="FSharp.Data" version="2.0.11" targetFramework="net45" />
  <package id="FSharpx.Collections.Experimental" version="1.8.22" targetFramework="net45" />
  <package id="FSharpx.Core" version="1.8.22" targetFramework="net45" />
  <package id="FSharpx.Observable" version="1.8.22" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Graph" version="1.8.23" targetFramework="net45" />
</packages>