<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildWebCompiler" version="1.8.270" targetFramework="net452" />
  <package id="Chutzpah" version="3.2.2" targetFramework="net452" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="0.7.8" targetFramework="net452" />
  <package id="jasmine-jquery.TypeScript.DefinitelyTyped" version="0.5.3" targetFramework="net452" />
  <package id="jasmine-js" version="1.3.1.1" targetFramework="net452" />
  <package id="jasmine-matchers.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net452" />
  <package id="jQuery" version="2.1.1" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.3.7" targetFramework="net452" />
  <package id="jQuery.UI.Combined" version="1.10.4" targetFramework="net452" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.3.4" targetFramework="net452" />
  <package id="RxJS-Aggregates" version="2.2.0" targetFramework="net452" />
  <package id="RxJS-All" version="2.3.8" targetFramework="net452" />
  <package id="RxJS-Binding" version="2.2.0" targetFramework="net452" />
  <package id="RxJS-Coincidence" version="2.2.0" targetFramework="net452" />
  <package id="RxJS-Experimental" version="2.2.0" targetFramework="net452" />
  <package id="RxJS-JoinPatterns" version="2.2.0" targetFramework="net452" />
  <package id="RxJS-Lite" version="2.2.5" targetFramework="net452" />
  <package id="RxJS-Main" version="2.2.0" targetFramework="net452" />
  <package id="RxJS-Testing" version="2.2.0" targetFramework="net452" />
  <package id="RxJS-Time" version="2.2.0" targetFramework="net452" />
  <package id="RxJS-VirtualTime" version="2.2.0" targetFramework="net452" />
</packages>