/******************************************************************************

  Copyright 2014 Microsoft Corporation.  All Rights Reserved.

  Core BMA styles

******************************************************************************/

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#tool-container, #tool {
	display: table;
}

#tool-container {
	height: 100%;
	width: 100%;
}

#tool {
	height: calc(100% - 6px);
	width: calc(100% - 10px);
	margin: 5px;
}

#tools, #design-surface, #tools-top, #tool-footer {
	display: table-row;
	width: 100%;
}

#tools {
	height: 60px;
}

#general-tools, #drawing-tools, #prover-tools, #zoom-tools {
	display: inline-block;
	margin-top: 8px;
	margin-right: 1em;
}

#zoom-slider {
	width: 200px;
}

#tools img {
	/*width: 38px;*/
	height: 30px;
}

#tools label, #tools button {
}

#tools .ui-button {
	width: 44px;
	height: 44px;
	margin-left: 0.2em;
	margin-right: 0.2em;
	border-radius: 7px;
}

#tools .ui-button-text {
	padding-left: 0;
	padding-right: 0;
}

#zoom-slider, #button-zoomtofit {
	display: inline-block;
}

.fill-width {
	width: 100%;
}

.variable-function-description {
	font-size: 9pt;
}

#svgroot {
	height: 100%;
}

.svg-highlight {
	stroke: darkgray;
}

.svg-selected {
	/* Make important so that it overrides the transient highlighting above */
	stroke: gray !important;
}

.svg-line {
	fill: none;
	stroke: black;
	stroke-width: 3px;
}

.svg-line-highlight {
	stroke: darkgray !important;
	stroke-width: 7px !important;
}

.svg-line-selected {
	stroke: gray !important;
	stroke-width: 7px !important;
}
