html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#tool-container, #tool {
	display: table;
}

#tool-container {
	height: 100%;
	width: 100%;
}

#tool {
	height: calc(100% - 6px);
	width: calc(100% - 10px);
	margin: 5px;
}

#tools, #design-surface, #tools-top, #tool-footer {
	display: table-row;
	width: 100%;
}

#tools {
	height: 60px;
}

#drawing-tools, #zoom-tools {
	display: inline-block;
	margin-top: 8px;
}

#zoom-slider {
	width: 200px;
}

#drawing-tools img {
	/*width: 38px;*/
	height: 30px;
}

#drawing-tools label {
	width: 44px;
	height: 44px;
}

#drawing-tools .ui-button {
	margin-left: 0.2em;
	margin-right: 0.2em;
	border-radius: 7px;
}

#drawing-tools .ui-button-text {
	padding-left: 0;
	padding-right: 0;
}