<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=bma;AccountKey=bt8kh4MwVjt4CSEAy1mYrHu+jSAHUiBrr3b4H0Peor7CnrTfqUeifD3EJ6pwqoAEGOcnmZvlwzzWR5La4bNytg=="/>
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=biocheckstorage;AccountKey=G8QXrBKlXVjA6j8iT8nAeMRgAUCQyTfMoETLIcRQVvvfdMy+qga16iRU7LG4GYLLnHjzdLUp1miJPiD3IAFo/A=="/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <location path="_images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <caching>
      <profiles>
        <add extension=".xap" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
      </profiles>
    </caching>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<add value="BioCheckTestPage.aspx" />-->
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="BioCheck.Web.Services.AnalysisService.customBinding0" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="01:00:00" closeTimeout="01:00:00">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxSessionSize="2147483647" maxWritePoolSize="2147483647">
            <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
          </binaryMessageEncoding>
          <httpTransport maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"/>
        </binding>
        <binding name="BioCheck.Web.Services.LogService.customBinding0" receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <binaryMessageEncoding/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="BioCheck.Web.Services.AnalysisService">
        <endpoint name="AnalysisServiceCustom" address="" binding="customBinding" bindingConfiguration="BioCheck.Web.Services.AnalysisService.customBinding0" contract="BioCheck.Web.Services.AnalysisService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="BioCheck.Web.Services.LogService">
        <endpoint name="LogServiceCustom" address="" binding="customBinding" bindingConfiguration="BioCheck.Web.Services.LogService.customBinding0" contract="BioCheck.Web.Services.LogService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>