/* General Functions */
.hoverable:hover {
  cursor: pointer;
}
.invisible {
  display: none;
}
.bma-accordion-container {
  position: relative;
}
.bma-accordion-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bma-accordion-container ul li {
  display: inline-block;
  vertical-align: middle;
}
.bma-accordion-container ul li * {
  position: relative;
}
.bma-accordion-header {
  cursor: pointer;
}
.accordion-shadow {
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.accordion-collapsed {
  border: 1px solid lightgray;
  border-radius: 7px;
}
.accordion-expanded {
  border: none;
  border-radius: toolbar-icon-border-radius toolbar-icon-border-radius 0 0;
}
/*  Colors  */
/*  Typography  */
@font-face {
  font-family: 'Segoe-UI';
  src: url('fonts/segoeui-webfont.eot');
  src: url('fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/segoeui-webfont.ttf') format('truetype'), url('fonts/segoeui-webfont.svg#segoeui') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe-UI-Bold';
  src: url('fonts/segoeuib-webfont.eot');
  src: url('fonts/segoeuib-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/segoeuib-webfont.ttf') format('truetype'), url('fonts/segoeuib-webfont.svg#segoeui') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe-UI-Italic';
  src: url('fonts/segoeuii-webfont.eot');
  src: url('fonts/segoeuii-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/segoeuii-webfont.ttf') format('truetype'), url('fonts/segoeuii-webfont.svg#segoeui') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe-UI-Light';
  src: url('fonts/segoeuil.eot');
  src: url('fonts/segoeuil.eot?#iefix') format('embedded-opentype'), url('fonts/segoeuil.ttf') format('truetype'), url('fonts/segoeuil.svg#segoeui') format('svg');
  font-weight: normal;
  font-style: normal;
}
.bold {
  font-family: 'Segoe-UI-Bold';
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a.website-link {
  color: #81bb83;
  text-decoration: none;
}
a.website-link:hover {
  text-decoration: underline;
}
.tooltip {
  font-size: 12px;
  background-color: #606060;
  color: white;
  padding: 5px;
  display: inline-block;
}
button {
  margin: 0px;
}
.default-button {
  margin-bottom: 10px;
  background-color: #ededed;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 0px 5px 0px 5px;
}
.default-button:hover {
  color: white;
  background-color: #606060;
}
.default-button button {
  border: none;
  padding: 3px;
  min-width: 17px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.default-button button:hover {
  color: white;
}
.default-button button:focus {
  outline: none;
}
ul.button-list {
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
ul.button-list li {
  margin-bottom: 10px;
  background-color: #ededed;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 0px 5px 0px 5px;
}
ul.button-list li:hover {
  color: white;
  background-color: #606060;
}
ul.button-list li button {
  border: none;
  padding: 3px;
  min-width: 17px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  font-size: 0.8em;
  letter-spacing: 1px;
}
ul.button-list li button:hover {
  color: white;
}
ul.button-list li button:focus {
  outline: none;
}
.dialog .button-list {
  float: right;
  font-size: 15px;
}
.button-list li.action-button {
  background-color: #606060;
  border: 1px solid white;
  border-radius: 6px;
}
.button-list li.action-button:hover {
  background-color: white;
  border: 1px solid #606060;
}
.button-list li.action-button button {
  font-size: 25px;
  color: white;
  padding: 7px 10px 7px 10px;
}
.button-list li.action-button button:hover {
  color: #606060;
}
.button-list li.action-button.green {
  background-color: #81bb83;
  border: 1px solid white;
  border-radius: 6px;
}
.button-list li.action-button.green:hover {
  background-color: white;
  border: 1px solid #81bb83;
}
.button-list li.action-button.green button {
  font-size: 25px;
  color: white;
  padding: 7px 10px 7px 10px;
}
.button-list li.action-button.green button:hover {
  color: #81bb83;
}
.pill-button-box {
  display: inline-block;
}
.pill-button-box .pill-button {
  margin-bottom: 10px;
  background-color: #ededed;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 0px 5px 0px 5px;
  font-size: 1.5em;
}
.pill-button-box .pill-button:hover {
  color: white;
  background-color: #606060;
}
.pill-button-box .pill-button button {
  border: none;
  padding: 3px;
  min-width: 17px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.pill-button-box .pill-button button:hover {
  color: white;
}
.pill-button-box .pill-button button:focus {
  outline: none;
}
.pill-button-box .pill-button:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
}
.pill-button-box .pill-button:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.onoff {
  width: 27px;
  text-align: center;
}
.onoff.green {
  background-color: #81bb83;
}
.onoff.green:hover {
  background-color: #aaaaaa;
}
.onoff.green button {
  color: white;
}
.onoff.grey {
  background-color: #aaaaaa;
}
.onoff.grey:hover {
  background-color: #81bb83;
}
.onoff.grey button {
  color: white;
}
.simulation-popout ul.button-list {
  float: right;
  margin: 0px;
}
.simulation-popout ul.button-list li {
  background-color: #606060;
}
.simulation-popout ul.button-list li:hover {
  background-color: #ededed;
}
.simulation-popout ul.button-list button {
  color: white;
  font-size: 14px;
  padding: 3px;
}
.simulation-popout ul.button-list button:hover {
  color: #606060;
}
.simulation-popout ul.button-list li.steps {
  background-color: #ededed;
  color: #606060;
}
.simulation-popout ul.button-list li.steps button {
  color: #606060;
}
.simulation-popout ul.button-list li.run {
  margin-left: 30px;
  background-color: #81bb83;
  border: 1px solid white;
  border-radius: 6px;
}
.simulation-popout ul.button-list li.run:hover {
  background-color: white;
  border: 1px solid #81bb83;
}
.simulation-popout ul.button-list li.run button {
  font-size: 25px;
  color: white;
  padding: 7px 10px 7px 10px;
}
.simulation-popout ul.button-list li.run button:hover {
  color: #81bb83;
}
ul.command-list {
  padding: 5px 0px 3px 0px;
}
ul.command-list li {
  padding: 0px;
  margin-bottom: 3px;
}
ul.command-list li a {
  text-decoration: none;
  line-height: 19px;
  padding: 2px 0px 2px 5px;
  display: block;
  vertical-align: middle;
}
ul.command-list li a:hover {
  background-color: #ededed;
}
ul.command-list li a img {
  padding: 0px;
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 0px;
  vertical-align: middle;
}
textarea,
input {
  outline: none;
}
input {
  padding-left: 5px;
  border: 1px solid #aaaaaa;
  box-shadow: none;
  height: 25px;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
}
input:focus {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ededed;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ededed;
  opacity: 1;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ededed;
  opacity: 1;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ededed;
}
.item-name-field {
  display: inline;
}
.item-name-field input {
  height: 30px;
  width: 150px;
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  font-family: 'Segoe-UI-Light';
}
textarea {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #aaaaaa;
  box-shadow: none;
}
textarea:focus {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.window-title {
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
}
.window-title-light {
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  font-family: 'Segoe-UI-Light';
}
.proof-state {
  display: inline-block;
  font-size: 17px;
  line-height: 40px;
  color: #81bb83;
  vertical-align: middle;
}
.proof-state img {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}
.analysis-title {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.variables-table {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 99%;
  border-collapse: collapse;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  table-layout: fixed;
  word-break: break-all;
  border: 1px solid #aaaaaa;
}
.variables-table td {
  vertical-align: middle;
  border: 1px solid #aaaaaa;
  text-align: center;
  padding: 1px 3px 1px 3px;
  color: #606060;
  height: 20px;
}
.variables-table tr:first-child td {
  word-break: initial;
  background-color: #606060;
  border-color: #606060;
  text-align: center;
  border-width: 1px;
  color: white;
}
.variables-table tr:nth-child(odd) {
  background-color: #ededed;
}
.variables-table td:nth-child(1) {
  width: 20%;
}
.variables-table td:nth-child(2) {
  width: 65%;
  text-align: left;
}
.variables-table td:nth-child(3) {
  width: 15%;
}
.proof-variables .scrollable-results .variables-table td:nth-child(1) {
  width: 20%;
}
.proof-variables .scrollable-results .variables-table td:nth-child(2) {
  width: 65%;
  text-align: left;
}
.proof-variables .scrollable-results .variables-table td:nth-child(3) {
  width: 15%;
}
.proof-propagation-overview {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 99%;
  border-collapse: collapse;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
}
.proof-propagation-overview td {
  border: 1px solid white;
  width: auto;
  height: 5px;
}
.proof-propagation-overview .propagation-cell-red {
  background-color: #feb6b2;
}
.proof-propagation-overview .propagation-cell-green {
  background-color: #d9ffb6;
}
.simulation-variables .scrollable-results .variables-table td:nth-child(1) {
  width: 20px;
  border-bottom-color: white;
}
.simulation-variables .scrollable-results .variables-table td:nth-child(2) {
  width: 20px;
}
.simulation-variables .scrollable-results .variables-table td:nth-child(4) {
  width: 45px;
}
.simulation-variables .scrollable-results .variables-table tr:first-child td {
  border-bottom-color: #606060;
}
.proof-variables-popout .scrollable-results {
  overflow-x: scroll;
}
.proof-variables-popout .scrollable-results .variables-table {
  width: 99%;
}
.proof-variables-popout .scrollable-results .variables-table td:nth-child(1) {
  width: 15%;
}
.proof-variables-popout .scrollable-results .variables-table td:nth-child(2) {
  width: 75%;
  text-align: left;
}
.proof-variables-popout .scrollable-results .variables-table td:nth-child(3) {
  width: 10%;
}
.proof-propagation-table {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border-collapse: collapse;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  width: 99%;
  text-align: center;
}
.proof-propagation-table tr:first-child td {
  word-break: initial;
  background-color: #606060;
  border-color: #606060;
  border-right-color: white;
  text-align: center;
  border-width: 1px;
  color: white;
}
.proof-propagation-table td {
  min-width: 45px;
  padding: 2px;
  border: 1px solid white;
}
.proof-propagation-table .propagation-cell-red {
  background-color: #feb6b2;
}
.proof-propagation-table .propagation-cell-green {
  background-color: #d9ffb6;
}
.simulation-popout .scrollable-results .small-simulation-popout-table {
  display: inline-block;
  width: 250px;
}
.simulation-popout .scrollable-results .small-simulation-popout-table .variables-table td:nth-child(1) {
  width: 40px;
}
.simulation-popout .scrollable-results .small-simulation-popout-table .variables-table tr:not(:first-child) td:nth-child(1) {
  width: 5px;
  border-bottom-color: white;
}
.simulation-popout .scrollable-results .small-simulation-popout-table .variables-table td:nth-child(3) {
  width: 50px;
}
.simulation-popout .scrollable-results .big-simulation-popout-table {
  display: inline-block;
  vertical-align: top;
}
.simulation-popout .scrollable-results .big-simulation-popout-table .variables-table {
  margin-left: 30px;
  width: 90px;
}
.simulation-popout .scrollable-results .big-simulation-popout-table .variables-table input {
  height: 17px;
  width: 100%;
  border: none;
  text-align: center;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
.simulation-popout .scrollable-results .big-simulation-popout-table .variables-table input:focus {
  box-shadow: none;
}
/* Body */
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
}
* {
  outline: 0 none;
}
.box-sizing {
  box-sizing: border-box;
}
/* Toolbar */
.tool-icon {
  width: 50px;
  height: 50px;
  margin-left: 0.2em;
  margin-right: 0.2em;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background: none;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}
.tool-icon span > div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border: none;
  margin: auto;
}
.tool-icon:not(.ui-state-active):hover {
  background-color: #ededed;
  cursor: pointer;
}
.tool-icon .ui-state-active {
  background-color: #606060;
}
.tool-icon .pointer-icon {
  background-image: url("../images/pointer.svg");
}
.tool-icon .undo-icon {
  background-image: url("../images/undo.svg");
}
.tool-icon .redo-icon {
  background-image: url("../images/redo.svg");
}
.tool-icon .cell-icon {
  background-image: url("../images/container.svg");
}
.tool-icon .variable-icon {
  background-image: url("../images/variable.svg");
}
.tool-icon .constant-icon {
  background-image: url("../images/constant.svg");
}
.tool-icon .receptor-icon {
  background-image: url("../images/receptor.svg");
}
.tool-icon .activate-icon {
  background-image: url("../images/activate.svg");
}
.tool-icon .inhibit-icon {
  background-image: url("../images/inhibitor.svg");
}
.tool-icon .view-options-icon {
  background-image: url("../images/visicon2.svg");
  background-size: 45px;
}
.tool-icon.active {
  background-color: #606060;
  border-color: #606060;
}
.tool-icon.active:hover {
  background-color: #606060;
}
.tool-icon.active .pointer-icon {
  background-image: url("../images/pointer ON.svg");
}
.tool-icon.active .cell-icon {
  background-image: url("../images/container-ON.svg");
}
.tool-icon.active .variable-icon {
  background-image: url("../images/variable-ON.svg");
}
.tool-icon.active .constant-icon {
  background-image: url("../images/constant-ON.svg");
}
.tool-icon.active .receptor-icon {
  background-image: url("../images/receptor-ON.svg");
}
.tool-icon.active .activate-icon {
  background-image: url("../images/activate-ON.svg");
}
.tool-icon.active .inhibit-icon {
  background-image: url("../images/inhibitor-ON.svg");
}
.tool-icon.active .view-options-icon {
  background-image: url("../images/visicon2-ON.svg");
  border-bottom-left-radius: 0px;
}
.zoomslider-container {
  width: 400px;
  /*> * {
				display: table-cell;
			}

			img{
				margin: 2px;
			}*/
}
.zoomslider-container .zoomslider-bar {
  width: 100%;
  border: 1px solid #606060;
  border-bottom: 0px;
  text-align: center;
  position: relative;
}
.zoomslider-container .zoomslider-bar:after {
  content: "";
  position: absolute;
  height: 70%;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #606060;
}
.zoomslider-container .zoomslider-bar .zoomslider-pointer {
  position: absolute;
  top: -10px;
  border: 10px solid transparent;
  border-bottom: 20px solid #606060;
  border-radius: 0;
}
.window.vis-options {
  width: 205px;
  border-top-left-radius: 0px;
}
.window.vis-options .option-name {
  display: inline-block;
  width: 90px;
}
/* Canvas - Drawing Surface */
.bma-drawingsurfacecontainer {
  height: calc(100% - 70px - 40px);
  /*.calc(height, ~"100% - 70px" - @footer-height);*/
  position: relative;
}
.bma-drawingsurface {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modeldesigner-element-cell {
  stroke-width: 1px;
  stroke: transparent;
}
.modeldesigner-element-hover {
  stroke: gray;
  stroke-width: 2px;
}
.modeldesigner-line-hover {
  stroke-width: 3px;
}
.window.canvas-contextual {
  width: 85px;
  border-radius: 5px;
  padding: 0px;
  font-size: 12px;
}
.window.submenu {
  width: 35px;
}
/* Model Toolbar */
.model-toolbar .model-icons {
  padding: 5px;
  background-color: #ededed;
  -webkit-box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  width: 320px;
  height: 110px;
  display: inline-block;
  margin-right: -4px;
}
.model-toolbar .model-icons ul li {
  display: inline-block;
}
.model-toolbar .model-icons ul li div {
  background-color: transparent;
  width: 60px;
  height: 105px;
  padding-bottom: 5px;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: bottom;
  border: none;
  text-align: center;
  cursor: pointer;
}
.model-toolbar .model-icons ul li div.local-save-btn {
  background-image: url("../images/savelocally.svg");
}
.model-toolbar .model-icons ul li div.new-btn {
  background-image: url("../images/new.svg");
}
.model-toolbar .model-icons ul li div.local-storage-btn {
  background-image: url("../images/local.svg");
}
.model-toolbar .model-icons ul li div.import-btn {
  background-image: url("../images/open.svg");
}
.model-toolbar .model-icons ul li div.export-btn {
  background-image: url("../images/save.svg");
}
.model-toolbar .model-name {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(left, #ededed, #ffffff);
  background-image: -webkit-linear-gradient(left, #ededed, #ffffff);
  background-image: -ms-linear-gradient(left, #ededed, #ffffff);
  background-image: -webkit-gradient(linear, left, #ededed, #ffffff);
  vertical-align: top;
  left: -5px;
  width: 220px;
  height: 50px;
  display: inline-block;
}
.model-toolbar .model-name ul > li {
  display: inline-block;
  vertical-align: middle;
}
.model-toolbar .model-name input {
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  width: 170px;
}
.model-toolbar .model-name input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.model-toolbar .model-name .expand-btn {
  display: inline-block;
  width: 30px;
  height: 50px;
  border: none;
  background-image: url('../images/expand-collapse.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.model-repository {
  width: 250px;
}
.model-repository ol {
  list-style-type: none;
  padding-left: 0px;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  line-height: 25px;
}
.model-repository ol li {
  vertical-align: middle;
  padding-left: 5px;
  cursor: pointer;
}
.model-repository ol li:nth-child(odd) {
  background-color: #ededed;
}
.model-repository ol li.active {
  background-color: #aaaaaa;
  color: white;
}
.model-repository ol li a.delete {
  display: inline-block;
  height: 23px;
  padding-top: 2px;
  float: right;
  cursor: pointer;
}
.model-repository ol li a.delete:hover {
  background-color: #aaaaaa;
}
/*  Windows  */
.window {
  padding: 15px;
  margin: 0px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.window p {
  margin: 0;
  padding: 0;
  width: 95%;
}
.close-icon {
  display: inline;
  float: right;
  margin-right: 0px;
  cursor: pointer;
}
.close-icon img {
  width: 20px;
  height: 20px;
}
.window.variable-editor {
  width: 380px;
}
.variable-editor input {
  min-width: 40px;
}
.variable-editor .variable-name {
  display: inline;
}
.variable-editor .variable-name input {
  height: 30px;
  width: 150px;
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  font-family: 'Segoe-UI-Light';
}
.variable-editor .spacer {
  display: inline;
  padding-left: 30px;
}
.variable-editor .div-triangles {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.variable-editor .triangle-up,
.variable-editor .triangle-down {
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin: 1px;
  margin-bottom: 5px;
  cursor: pointer;
}
.variable-editor .triangle-up {
  border-bottom: 7px solid #aaaaaa;
}
.variable-editor .triangle-up:hover {
  border-bottom: 7px solid #ededed;
}
.variable-editor .triangle-down {
  border-top: 7px solid #aaaaaa;
}
.variable-editor .triangle-down:hover {
  border-top: 7px solid #ededed;
}
.variable-editor .target-function {
  margin-top: 20px;
}
.variable-editor .target-function .formula-text-area {
  width: 85%;
  height: 70px;
  resize: vertical;
  max-height: 150px;
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  font-family: 'Segoe-UI-Light';
  color: #606060;
}
.variable-editor .operators {
  margin-top: 10px;
}
.variable-editor .operators li {
  margin-bottom: 10px;
  background-color: #ededed;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.variable-editor .operators li:hover {
  color: white;
  background-color: #606060;
}
.variable-editor .operators-info {
  margin-top: 10px;
}
.window.container-name {
  border-radius: 5px;
}
.container-name {
  height: 30px;
  width: 190px;
  padding: 10px;
  display: inline;
  display: block;
}
.container-name input {
  height: 30px;
  width: 150px;
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  font-family: 'Segoe-UI-Light';
}
.dialog {
  width: 300px;
}
/*  Analysis Tabs  */
.tab-right {
  padding: 15px;
  margin: 0px;
  width: 400px;
  background: #FFFFFF;
  -webkit-box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}
.tab-right p {
  margin: 0;
  padding: 0;
  width: 95%;
}
.popout-icon {
  display: inline;
  float: right;
  margin-right: 8px;
  cursor: pointer;
}
.popout-icon img {
  width: 20px;
  height: 20px;
}
.proof-variables-popout .popout-icon {
  margin-right: 14px;
}
.proof-variables .scrollable-results {
  max-height: 121px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
}
.proof-variables .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.proof-variables .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.proof-variables .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.proof-propagation .scrollable-results {
  max-height: 150px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
}
.proof-propagation .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.proof-propagation .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.proof-propagation .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.simulation-variables {
  margin-top: 10px;
}
.simulation-variables .scrollable-results {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
}
.simulation-variables .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.simulation-variables .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.simulation-variables .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.window.proof-variables-popout {
  width: 850px;
  height: 550px;
}
.window.proof-variables-popout .scrollable-results {
  max-height: 500px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
}
.window.proof-variables-popout .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.window.proof-variables-popout .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.window.proof-variables-popout .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.window.proof-propagation-popout {
  width: 850px;
  height: 550px;
}
.window.proof-propagation-popout .scrollable-results {
  overflow-x: scroll;
  max-height: 500px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
}
.window.proof-propagation-popout .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.window.proof-propagation-popout .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.window.proof-propagation-popout .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.window.proof-propagation-popout .scrollable-results::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
  background-color: #aaaaaa;
}
.window.proof-propagation-popout .scrollable-results::-webkit-scrollbar-track:horizontal {
  height: 20px;
  background-color: white;
}
.window.simulation-popout {
  width: 850px;
  height: 550px;
}
.window.simulation-popout .scrollable-results {
  max-height: 470px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 470px;
}
.window.simulation-popout .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.window.simulation-popout .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.window.simulation-popout .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.window.simulation-popout .scrollable-results .small-simulation-popout-table {
  display: inline-block;
  width: 250px;
}
/* File I/O Tab */
/* 
	.modelstorage-toolbar-shadow() {
		.box-shadow(@x:5px; @y:5px; @blur:5px; @color:@shadow)
	}

	.modelstorage-toolbar-header{
	    display:inline-block;
	    margin:0;
	    padding:0;
	    overflow: hidden;
	    .border-radius(0 @window-radius @window-radius 0);
	    .modelstorage-toolbar-shadow;
	}

	.modelstorage-toolbar-modelname {
	    width: 150px;
	    height: 50px;
	    .gradient(left, @lightgrey 0, white 50%);

	    input {
	        position: absolute;
	        top: 10px;
	        width: 100%;
	        border: none;
	        background-color: transparent;
	        text-align:center; 
	        
	    }
	}

	.modelstorage-toolbar-expand-bttn {
	    right:0;
	    width: 50px;
	    height: 50px;
	    border:none;
	    background-color:white;
	    background-image: url('../images/expand-collapse.svg');
	    background-repeat:no-repeat;
	    background-position:center;
	    .border-radius(0 @window-radius @window-radius 0);
	}

	.modelstorage-toolbar-content {
	    overflow:hidden;
	    display:inline-block;
	    margin:0;
	    padding:0;
	    background-color:  @lightgrey; 
	    border-bottom-right-radius: @window-radius;
	    .modelstorage-toolbar-shadow();

	    &>ul>li>div {
	        background-color: transparent;
	        width: 60px;
	        height: 105px;
	        padding-bottom: 5px;
	        background-position-x: center;
	        background-position-y: top;
	        background-repeat: no-repeat;
	        display: table-cell;
	        vertical-align: bottom;
	        border: none;
	        text-align: center;
	        cursor: pointer;
	    }
	}

	.ui-accordion-header-active .modelstorage-toolbar-expand-bttn
	{
	    border-radius: 0;
	    .scaleX-transform();
	}

	.scaleX-transform(@x: -1) {
	     -ms-transform: scaleX(-1);
	    -moz-transform: scaleX(-1);
	    -o-transform: scaleX(-1);
	    -webkit-transform: scaleX(-1);
	    transform: scaleX(-1);
	}

	.scaleY-transform(@x: -1) {
	     -ms-transform: scaleY(-1);
	    -moz-transform: scaleY(-1);
	    -o-transform: scaleY(-1);
	    -webkit-transform: scaleY(-1);
	    transform: scaleY(-1);
	}


	.openButton{
	    background-image: url('../images/open.svg');
	}

	.newButton{
	    background-image: url('../images/new.svg');
	}

	.saveButton{
	    background-image: url('../images/save.svg');
	}

	.localStorageButton {
	    background-image: url("../images/local.svg");
	}
	.localSaveButton {
	    background-image: url("../images/savelocally.svg"); 
	}*/
/* Footer */
.bma-footer {
  height: 40px;
  text-align: center;
}
.bma-pagefooter-msrlogo {
  position: absolute;
  right: 10px;
  height: 40px;
}
.bma-pagefooter-msrlogo img {
  height: 35px;
  border: none;
}
.bma-pagefooter-logo {
  position: absolute;
  left: 0;
}
.bma-pagefooter-linkcontainer {
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 30px;
  line-height: 30px;
  width: 300px;
  left: calc(50% - 150px);
  left: -moz-calc(50% - 150px);
  left: -webkit-calc(50% - 150px);
  left: -o-calc(50% - 150px);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.bma-pagefooter-linkcontainer a {
  color: #81bb83;
}
/*  Style Guide  */
/* 

These are styles for the style guide page itself. 
code that isn't relevant to the tool goes here 

*/
html {
  height: initial;
}
body {
  margin: 50px 10px 0px 50px;
  padding: 0;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  overflow: initial;
  height: initial;
}
.style-guide-nav {
  position: fixed;
  z-index: 99;
  top: 20px;
  padding: 10px;
  right: 0px;
  width: 200px;
  background-color: white;
  color: #aaaaaa;
  font-size: 16px;
  line-height: 110%;
}
.style-guide-nav a {
  color: #aaaaaa;
  font-size: 16px;
  line-height: 120%;
}
.style-guide-nav ul {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 5px;
}
.element {
  margin: 0px 0px 0px 0px;
}
.element-right {
  margin: 0px 0px 0px 0px;
  float: right;
  clear: both;
}
.element-item {
  display: table-cell;
  text-align: left;
}
.element-caption {
  display: table-cell;
  text-align: left;
  padding: 0px 30px 0px 30px;
  color: #aaaaaa;
}
h1 {
  margin: 0px;
  padding: 0px;
  color: #aaaaaa;
  font-size: 3em;
  line-height: 120%;
  font-family: 'Segoe-UI-Bold';
}
h2 {
  margin: 0px;
  padding: 0px;
  color: #aaaaaa;
  display: block;
  margin: 30px 0px 30px 0px;
  font-size: 2em;
  line-height: 120%;
  font-family: 'Segoe-UI-Bold';
}
h3 {
  margin: 0px;
  padding: 0px;
  color: #aaaaaa;
  margin: 0px 0px 5px 0px;
  font-size: 1.5em;
  line-height: 120%;
  font-family: 'Segoe-UI';
}
p.guide-text {
  margin: 0px 0px 10px 0px;
  color: #aaaaaa;
}
p.guide-text code {
  background-color: #ededed;
}
.bug-note {
  color: red;
}
hr {
  margin-top: 20px;
}
.color-swatch {
  width: 50px;
  height: 50px;
}
.green {
  background-color: #81bb83;
}
.lightgreen {
  background-color: #d9ffb6;
}
.red {
  background-color: #feb6b2;
}
.lightgrey {
  background-color: #ededed;
}
.midgrey {
  background-color: #aaaaaa;
}
.darkgrey {
  background-color: #606060;
}
