body {
    padding-bottom: 0px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
    background-color: #E4E4E6;
    height: calc(100% - 4px);
}

html {
    height: 100%;
}


.bma-drawingsurface {
    display: block;
    height: calc(100% - 3em - 100px - 4px);
    margin-top: -4px;
}

.bma-footer {
    clear: both;
    position: relative;
    height: 3em;
    text-align: center;
}

.bma-pagefooter-linkcontainer {
    position: relative;
    z-index: 8;
    background-color: white;
    color: #82BD82;
    line-height: 35px;
    width: 220px;
    height: 40px;
    margin: 0 auto 0 auto;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 5px 5px 10px #C6C6C6;
    -moz-box-shadow: 5px 5px 10px #C6C6C6;
    -ms-box-shadow: 5px 5px 10px #C6C6C6;
    -o-box-shadow: 5px 5px 10px #C6C6C6;
    box-shadow: 5px 5px 10px #C6C6C6;
}

.bma-pagefooter-links {
    color: #82BD82;
}

.bma-pagefooter-logo {
    position: absolute;
    left: 3px;
    bottom: 3px;
}

.bma-pagefooter-msrlogo {
    position: absolute;
    right: 10px;
    padding-top: 3px;
}

    .bma-pagefooter-msrlogo img {
        height: 33px;
    }


.bma-elementspanel {
    display: inline-block;
    text-align: center;
    clear: both;
    overflow: hidden;
    height: 100px;
    background-color: white;
    width: 100%;
}

.bma-elementspanel-undoredotoolbar {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    border: 1px solid black;
    padding: 12px;
    width: 250px;
}

.bma-elementspanel-elementstoolbar {
    display: inline-block;
    margin-top: 25px;
    border: 1px solid black;
    padding: 12px;
    width: 250px;
}

.bma-elementspanel-visualoptionstoolbar {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    border: 1px solid black;
    padding: 12px;
    width: 250px;
}
