@bma-toolbar-icon-height: 50px;
@bma-toolbar-icon-border-radius: 7px;
@general-font-family: 'Segoe UI';
@footer-height: 40px;
@general-font-size: 13px;
@general-line-height: 17px;
@big-font-size: 20px;
@big-line-height: 27px;
@general-font-color: #606060;
@zoomslider-width: 260px;


///General functions

.big-font(){
    font-size: @big-font-size;
    line-height: @big-line-height;
}

.background-img() {
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}

.hoverable:hover{
    cursor: pointer;
}

.invisible {
    display:none;
}

.calc(@prop; @val) {
  @{prop}: calc(@val);
  @{prop}: -moz-calc(@val);
  @{prop}: -webkit-calc(@val);
  @{prop}: -o-calc(@val);
}

.border-radius(@a){
    -moz-border-radius: @a;
    -webkit-border-radius: @a;
    -ms-border-radius: @a;
    -o-border-radius: @a;
    border-radius: @a;
}

.box-shadow(@a, @color){
    -webkit-box-shadow: @a @color;
    -moz-box-shadow: @a @color;
    -ms-box-shadow: @a @color;
    -o-box-shadow: @a @color;
    box-shadow: @a @color;
}

///General functions ending

///Body

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E4E4E6;
    position: relative;
    height: 100%;
    overflow:hidden;
    font-family: @general-font-family;
    font-size: @general-font-size;
    line-height: @general-line-height;
    color: @general-font-color;
}

* {
    outline:0 none;
}

///Body ending

///Drawing surface 

.bma-drawingsurfacecontainer {
    height: calc(~"100% - 70px" - @footer-height);
    /*.calc(height, ~"100% - 70px" - @footer-height);*/
    position: relative;
}

.bma-drawingsurface {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/// Drawing surface ending


///Footer 

.bma-footer {
    height: @footer-height;
    text-align: center;
}

.bma-pagefooter-msrlogo {
    position: absolute;
    right: 10px;
    height: @footer-height;

    img {
        height: 35px;
        border: none;
    }
}

.bma-pagefooter-logo {
    position: absolute;
    left: 0;
}

.bma-pagefooter-linkcontainer {
    position: absolute;
    bottom: 0;
    background-color: white;
    height: @footer-height - 10px;
    line-height: 30px;
    @width: 220px;
    width: @width;

    .calc(left, ~"50%" - @width / 2);
    .box-shadow(5px 5px 10px, #C6C6C6);
    .border-radius(10px 10px 0 0);

    a {
        color: #82BD82;
    }
}

///Footer ending


/// BMA Toolbar Panel

.bma-toolbarpanel {
    background-color: white;
    padding: 10px 0;
    white-space: nowrap;
    display: table;
    width: 100%;

    & > * {
        display: inline-block;
        vertical-align: top;
    }

    .ui-button {
        width: @bma-toolbar-icon-height;
        height: @bma-toolbar-icon-height;
        margin-left: 0.2em;
        margin-right: 0.2em;
        border-radius: 7px;
        background: none;
        background-color: white;

        span > div {
            width: 36px;
            height: 36px;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            border: none;
            margin: auto;
        }
    }
    .ui-button:not(.ui-state-active):hover {
        background-color: WhiteSmoke;
    }
    .ui-state-default {
        /*background-color: white;*/
    }
    .ui-state-active {
        background-color: darkgray;
    }
    
    .ui-button-text {
        padding-left: 0;
        padding-right: 0;
    }

    .bma-toolbarpanel-visibilityoptions-zoomslider {
        width: @zoomslider-width;
        a  {
            background: transparent;
            cursor: pointer;
            border: 10px solid transparent;
            border-bottom: 20px solid gray;
            border-radius: 0;
            width: 0;
            top: -10px;
            height: 0;
        }
    }

}


.zoomslider-container { 
    & > * {
        display: inline-block;
        margin-left: 15px;
        vertical-align: top;
    }

    img {
        width: 25px;
        height: 25px;
    }
}

.bma-toolbarpanel-visibilityoptions-zoomslider-toggler() {
    content: '';
    position: absolute;
    @toggler-width: 20px;
    @border-width: 1px;
}

.bma-toolbarpanel-visibilityoptions-zoomslider::after {
    .bma-toolbarpanel-visibilityoptions-zoomslider-toggler();
    width: 1px;
    background: gray;
    height: @toggler-width;
    margin-left: @zoomslider-width / 2 + @border-width;
}

.bma-toolbarpanel-visibilityoptions-zoomslider::before {
    .bma-toolbarpanel-visibilityoptions-zoomslider-toggler();
    border: 1px solid gray;
    border-bottom: none;
    margin-left: -@toggler-width / 2 + @border-width;
    width: @zoomslider-width + @toggler-width;
    height: @toggler-width + 5px;
}

.bma-toolbarpanel-undoredotoolbar {
    margin-left: calc(~"5% - 50px");
}

.bma-toolbarpanel-verticalline {
    width: 1px;
    background-color: lightgray;
    height: 30px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.PointerImg {
    background-image: url("../images/pointer.svg");
}

label[aria-pressed='true'] .PointerImg {
    background-image: url("../images/pointer ON.svg");
}

.bma-toolbarpanel-visibilityoptions {
    margin-left: calc(~"40% - 390px");
}

.bma-toolbarpanel-elementstoolbar {
    margin-left: calc(~"40% - 390px");
}

.bma-container-img {
    background-image: url("../images/container.svg");
}

label[aria-pressed='true'] .bma-container-img {
    background-image: url("../images/container-ON.svg");
}

.bma-constant-img {
    background-image: url("../images/constant.svg");
}

label[aria-pressed='true'] .bma-constant-img {
    background-image: url("../images/constant-ON.svg");
}

.bma-variable-img {
    background-image: url("../images/variable.svg");
}

label[aria-pressed='true'] .bma-variable-img {
    background-image: url("../images/variable-ON.svg");
}

.bma-receptor-img {
    background-image: url("../images/receptor.svg");
}

label[aria-pressed='true'] .bma-receptor-img {
    background-image: url("../images/receptor-ON.svg");
}

.bma-activate-img {
    background-image: url("../images/activate.svg");
}

label[aria-pressed='true'] .bma-activate-img {
    background-image: url("../images/activate-ON.svg");
}

.bma-inhibit-img {
    background-image: url("../images/inhibitor.svg");
}

label[aria-pressed='true'] .bma-inhibit-img {
    background-image: url("../images/inhibitor-ON.svg");
}

.bma-draggable-helper-element {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
}
/// BMA Toolbar Panel ending


///Accordion 

.bma-accordion-container{
    position:relative;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            vertical-align: middle;
            * {
                position: relative;
            }
        }
    }
}

.bma-accordion-header{
    cursor: pointer;
}

.accordion-shadow {
    box-shadow: 0 7px 10px lightgray;
}

.accordion-collapsed {
    border: 1px solid lightgray;
    border-radius: @bma-toolbar-icon-border-radius;
}

.accordion-expanded  {
    border: none;
    @r: @bma-toolbar-icon-border-radius;
    border-radius: @r @r 0 0;
}

///Accordion ending

///BMA Visibility options

.visibility-options-icon {
    .background-img();
    background-image: url("/images/visicon2.svg");
    display:block;
    background-color: white;
    @w: @bma-toolbar-icon-height;
    width:@w;
    height:@w;
}


.visibility-options-table{
    padding:10px;
    background-color: Window;
    overflow:hidden;
    top:0;
    @r: @bma-toolbar-icon-border-radius;
    border-bottom-left-radius: @r;
    border-bottom-right-radius: @r;
    border-top-right-radius: @r;
    position: absolute;

    &>ul {
        margin:0;
        padding:0;
        list-style-type: none;

        &>li {
            padding: 4px;
            width: 200px;

            &>*{
                display: inline-block;
            }
        }
    }
}
///BMA Visibility options ending

.bma-modeltoolbarcontainer, .bma-analyticstoolbarcontainer {
    .slider-panel();
}

.slider-panel() {
    position: absolute;
    top: 50px;
    width: 100%;
}


/// Toolbar save-new-open

.modelstorage-toolbar-shadow() {
    box-shadow: 3px 3px 6px lightgray;
}



.modelstorage-toolbar-header{
    display:inline-block;
    margin:0;
    padding:0;
    overflow: hidden;
    @r: @bma-toolbar-icon-border-radius;
    border-radius: 0 @r @r 0;
    .modelstorage-toolbar-shadow();
}

.gradient(@side, @color1, @color2) {
    background-image: -moz-linear-gradient(@side, @color1, @color2);
    background-image: -webkit-linear-gradient(@side,@color1, @color2);
    background-image: -ms-linear-gradient(@side, @color1,  @color2);
    background-image: -webkit-gradient(linear,@side, @color1, @color2);
}

.modelstorage-toolbar-modelname {
    width: 150px;
    height: 50px;
    .gradient(left, gainsboro 0, white 50%);

    input {
        position: absolute;
        top: 10px;
        width: 100%;
        border: none;
        background-color: transparent;
        text-align:center; 
        .big-font();
    }
}

.modelstorage-toolbar-expand-bttn {
    right:0;
    width: 50px;
    height: 50px;
    border:none;
    background-color:white;
    background-image: url('../images/expand-collapse.svg');
    background-repeat:no-repeat;
    background-position:center;
    @r: @bma-toolbar-icon-border-radius;
    border-radius: 0 @r @r 0;
}

.modelstorage-toolbar-content {
    overflow:hidden;
    display:inline-block;
    margin:0;
    padding:0;
    background-color:  gainsboro; 
    @r: @bma-toolbar-icon-border-radius;
    border-bottom-right-radius: @r;
    .modelstorage-toolbar-shadow();

    &>ul>li>div {
        background-color: transparent;
        width: 60px;
        height: 105px;
        padding-bottom: 5px;
        background-position-x: center;
        background-position-y: top;
        background-repeat: no-repeat;
        display: table-cell;
        vertical-align: bottom;
        border: none;
        text-align: center;
        cursor: pointer;
    }
}

.ui-accordion-header-active .modelstorage-toolbar-expand-bttn
{
    border-radius: 0;
    .scaleX-transform();
}

.scaleX-transform(@x: -1) {
     -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.openButton{
    background-image: url('../images/open.svg');
}

.newButton{
    background-image: url('../images/new.svg');
}

.saveButton{
    background-image: url('../images/save.svg');
}

.localStorageButton {
    background-image: url("../images/local.svg");
}
.localSaveButton {
    background-image: url("../images/savelocally.svg");
}

/// Toolbar save-new-open ending

/// Analytics panel

.analytics-panel-shadow() {
    -moz-box-shadow: -3px 3px 6px lightgray;
    box-shadow: -3px 3px 6px lightgray;
}


.bma-analyticstoolbarcontainer {
     &>div>div{
         .analytics-panel-shadow();
     }
}

.analytics-header {
    background-color: white;
    width: 80px;
    height: 70px;
    border: hidden;
    margin: 0;
    padding: 0;
    @r: @bma-toolbar-icon-border-radius;
    border-radius: @r 0 0 @r;
    img {
            border:hidden;
            float: left;
            margin: 5px;
            width: 60px;
            height: 60px;
        }
    img:nth-child(1) {
        @w: @bma-toolbar-icon-height;
        width: @w;
        height: @w;
        margin: 10px;
    }
}

.analytics-tabpanel {
    width: 400px;
    min-height: 150px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    padding:20px;
    max-height:600px;
    overflow-y: auto;

    h2 {
        .big-font();
    }

    h2,p {
        margin:0
    }

    & > div {
        position: relative;
    }

    & > div:not(:first-child) {
        margin-top: 10px;
    }
    #ProofVariables, #ProofPropagation {
        margin-top: 10px;
    }
}

.bma-proofstate-container > * {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 3px;
    .big-font();
}

.resultswindowviewer-header {
    .big-font();
    min-height: @big-line-height;
    position: relative;
    padding-bottom: 5px;

    div {
        float: right;
    }
}

.marginable {
    & > div:not(:first-child) {
        margin-top: 10px;
    }
}


.expand-window-icon {
    cursor: pointer;
    width:20px;
    height:20px;
}
/*.functions-info() > h2, p {
    margin-top: 0;
    margin-bottom: 0;
}*/

@scrollable-resurts-height: 160px;

.scrollable-results {
    max-height: @scrollable-resurts-height;
    overflow-y:scroll;
}
/// Analytics panel ending


///BMA Tables

@table-line-height: 20px;

.bma-tbl(){
    width:100%;
    border-collapse:collapse;
    
    td {
        border: 1px solid #cccccc;
        text-align: center;
        line-height: 22px;
        padding: 0;
    }
}

.bma-table {
    .bma-tbl();
    tr:nth-child(odd) { background-color:#ededed; }
    tr:nth-child(even) { background-color:#ffffff; }
}

/*.bma-table tr:nth-child(odd) { background-color:#ededed; }

.bma-table tr:nth-child(even) { background-color:#ffffff; }*/

.bma-table tr:first-child{
    background-color:#606060;
    color:#ffffff;
}

/*.bma-table td {
    border: 1px solid #cccccc;
    text-align: center;
    line-height: @table-line-height;
}*/

            

.bma-color-table {
    .bma-tbl();
    height: @scrollable-resurts-height;
}

.bma-color-table td {
    border: 1px solid white;
}
                  

.bma-graph-max-table {
    tr:first-child {
        td:nth-child(1) { width:20%; }
        td:nth-child(3) { width:25%; }
    }
    tr:not(:first-child) {
        td:nth-child(1) { width: 20px; }
        td:nth-child(2) { width: 50px; }
        td:nth-child(n+4) {
            text-align:right;
            padding-right: 3px;
        }
    } 
}



.bma-simulation-data-table {
    max-width: calc(~"100% - 122px");
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: -17px;
}
/*
.bma-simulation-table {
    margin: 0;
    width:auto;
}

.bma-simulation-table td {
    height: 26px;
    padding: 0;
}*/

.simulation-progression-table-container {
    & > div {
        display: inline-block;
        white-space: nowrap;
        vertical-align: bottom;
    }   
}

.bma-simulation-init {
    width:auto;
}

.bma-simulation-init tr:not(:first-child) td:first-child {
    width: 70px;
    border-right: none;
    text-align: right;
    padding:0
}
.bma-simulation-init tr:not(:first-child) td:nth-child(2) {
    border-left: none;
}
.bma-simulation-init tr:not(:first-child) td:nth-child(n+2) {
    width: 20px;
}

.bma-simulation-init input {
    border: none;
    text-align: center;
    background-color: transparent;
}
            
.bma-random-icon1 {
    background-image: url(../images/random1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    width: 20px;
    height: 20px;
}

.bma-progressiontable {
    .bma-tbl();
    td{ padding: 0 5px }
    td:first-child { border-left:none; }
    tr:nth-child(even) { background-color:#ededed; }
    tr:nth-child(odd) { background-color:#ffffff; }
}

                          
///BMA Tables ending


/// Further testing

.bma-furthertesting-button {
    width: 150px;
    height: 30px;
    padding: 0;
    background-color:#d0451b;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    line-height: 25px;
    .border-radius(@bma-toolbar-icon-border-radius);

}

.bma-furthertesting-button-waiting {
    .bma-furthertesting-button;
    background-image: url(../images/20x20.gif);
    background-repeat: no-repeat;
    background-position:center;
}

.bma-furthertesting-tabs-headers() {
    background-position:center;
    background-repeat:no-repeat;
    background-color:transparent;
    background-size: contain;
    height: 25px;
    width: 50px;
}

.ui-tabs > div {
    border: 1px solid lightgray;
}

.bma-futhertesting-bifurcations-icon {
    background-image: url("../images/bifurcations.png");
    .bma-furthertesting-tabs-headers();
}

.bma-futhertesting-oscillations-icon {
    background-image: url("../images/oscillations.png");
    .bma-furthertesting-tabs-headers();
}

.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

/// Further testing ending


///Simulation compact 

.bma-color-simulationtable tr:nth-child(even) { background-color:#f5f5f5; }

.bma-color-simulationtable tr:nth-child(odd) { background-color:#ffffff; }

.simulationplot-legend-legendcontainer {
    width: 30%;
    height: calc(100% - 20px);
    background-color: white;
    float: left;
    overflow-y: auto;
}

.simulationplot-legend-legenditem {
    cursor: pointer;
    padding-left: 5px;
}


.simulationplot-legend-colorboxcontainer {
    display: table-cell;
}

.simulationplot-legend-colorbox {
    width: 30px;
    height: 30px;
}

.simulationplot-legend-namebox {
    width: 120px;
    height: 30px;
    display: table-cell;
    padding-left: 5px;
    vertical-align: middle;
    white-space: nowrap;
}


///Simulation compact ending


///Simulation expanded 

@simulation-bttns-top: 30px;

.bma-simulation-run-button {
    width: 55px;
    background-color: #77b55a;
    border-radius: 7px;
    position: absolute;
    right: 50px;
    top: -@simulation-bttns-top;
    color: #ffffff;
    text-align: center;
    padding: 2px  20px 5px;
    cursor: pointer;
    z-index: 3;
    .big-font();
    height: @big-font-size + 5px;
}

.bma-simulation-run-button-waiting {
    .bma-simulation-run-button;
    background-image: url(../images/20x20.gif);
    background-repeat: no-repeat;
    background-position:center;
}

.bma-simulation-expanded {
    position: relative;
    width: 100%;
    height: 90%;
    margin-top: @simulation-bttns-top;
}

.bma-simulation-table-expanded-scroll {
    position: relative;
    width: 100%;
    height: 100%;
    white-space:nowrap;
    overflow-y:scroll;

    & > div {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
    & > div:first-child{
        width: 30%;
    }
    & > div:not(:first-child) {
        margin-left:60px;
    }
}


/*.bma-simulation-table-expanded-scroll > div {
    display: inline-block;
    vertical-align: top;
    position: relative;
}*/

/*.bma-simulation-table-expanded-scroll > div:first-child{
    width: 30%;
}*/

/*.bma-simulation-table-expanded-scroll > div:not(:first-child) {
    margin-left:60px;
}*/

.bma-progressiontable-randomise {
    position: absolute;
    top:-@simulation-bttns-top;
    left: calc(~"30% + 60px - 2px");
    cursor:pointer;
    font-size: 18px;
    line-height: 26px;

    div {
        display: inline-block;
        vertical-align: bottom;
    }
}


///Simulation expanded ending


///Popup windows 

.closing-bttn (@a: 20px, @right: 15px, @top: 15px) {
    cursor:pointer;
    position: absolute;
    right: @right;
    top: @top;
    width: @a;
}

/*.closing-bttn (@a: 20px) {
    .closing-bttn();
    width: @a;
}

.closing-bttn (@right: 15px, @top: 15px) {
    right: @right;
    top: @top;
}*/

.closing-button {
    .closing-bttn();
}

.popup-window-shadow(){
    box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.50);
}

///Popup windows ending


/// Containernameeditor

.containernameeditor {
    padding:10px;
    background-color: white;
    position:absolute;
    z-index:5;
    width: 180px;
    .popup-window-shadow();
    border-radius:@bma-toolbar-icon-border-radius;
}
.containernameeditor div {
    cursor:default;
}

.containernameeditor input {
    display: inline-block;
    border:1px solid #979797;
    box-shadow:none;
    width:140px;
    height: 25px;
}

///Containernameeditor ending