@import "StyleSheet.less";
@import "LTL_less.less";

.state-toolbar {
    margin-top:5px;
    .state-tool {
        margin:0 10px 0 0;
    }
}
.state-buttons {
    width:355px;
    margin-left:0;

    .state-button{
	    margin:5px;
        margin-left:0;

        &.active{
		    border: 3px solid @darkgrey;
	    }
        &:hover{
            cursor: pointer;
        }
	    
    }
}

.state-compact {
    margin-top:5px;
    margin-bottom:15px;
    .state-button-empty{
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 80px;
        font-family: 'Segoe-UI-Light';
        font-size: 50px;
        line-height: 70px;
        text-align: center;
        border-radius: 100px;
        background-color: white;
        color: @darkgrey;
        border: 2px solid @darkgrey;

        &:hover {
                color: @midgrey;
                border: 2px solid @midgrey;
                cursor: pointer;
        }
    }

    .state-placeholder {
        font-size:17px;
        text-align:center;
        margin-top: 10px;
    }

    .state-options-window{
        .pointer{
            margin-left: auto;
            margin-right: auto;
            border-top:none;
            border-bottom:7px solid #aaa;
            box-shadow: 2px 7px 8px rgba(0,0,0,0.5);
        }
        .state-options{
            width: 120px;
            height: 120px;
            box-shadow: 2px 7px 8px rgba(0,0,0,0.5);
        }
    }
}

.number-input {
    width:30px;
    font-size:18px;
    border:none;
    text-align:center;
}

.variable-select {
    display:block;
    width:55px;
    font-size:14px;
    color:ButtonText;

    p {
        margin:0;
        display:inline-block;
        width:30px;
        overflow:hidden;
        text-align:left;
        text-overflow:ellipsis;
    }

    .inputs-expandbttn{
        display:inline-block;
        width:0;
        height:0;
        border-left:5px solid transparent;
        border-right:5px solid transparent;
        cursor:pointer;
        border-top:7px solid #aaa;
        border-bottom:none;
        float:right;
        margin-top:7px;
        margin-right:5px;

            &.inputs-list-header-expanded {
                border-top:none;
                border-bottom:7px solid #aaa;
            }
    }

    &.expanded {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

// Variable Picker
.variable-picker{
    position:absolute;
    z-index:3;
	width: 115px;
			
	table{
        margin:0;
		font-size: 11px;
        background-color:white;
        border-collapse:collapse;

		img{
			width: 20px;
            height: 20px;
		}

		tr{
			vertical-align: top;
		}

		td{
			min-width: 50px;
			&.list{
				height:85px;
			}
			.scrollable{
				width: 100%;
				height:100%;
				overflow-y: auto;
				overflow-x: hidden;
				padding:0px 2px 0px 0px;
				a{
					display: block;
					text-decoration: none;
					&:hover{
						background-color: @lightgrey;
					}

					&.active{
						border: 0px;
						background-color: @midgrey;
						color:white;
					}

				}
				&::-webkit-scrollbar-track{
						width:10px;
						background-color: white;
				}

				&::-webkit-scrollbar{
						width: 5px;
						height: 5px;
						background-color: @midgrey;
				}

				&::-webkit-scrollbar-thumb{
					padding: 5px;
					border-radius: 5px;
					background-color: @midgrey;
				}
			}
					
		}
	}
}

/*.variables-list{
    display:block;
    padding: 2px;
    float:left;
    width:51px;
    font-size:14px;
    color:ButtonText;
    position:absolute;
    top:50px;
    z-index:3;
     
    div {
        position:relative;
        text-align: left;
        padding-left: 3px;
        overflow:hidden;
        text-overflow:ellipsis;

        &:hover{
			cursor: pointer;
            background-color:@darkgrey;
            border-radius:5px;
		}
	}

    &.expanded {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color:@lightgrey;
        box-shadow: 2px 7px 8px rgba(0,0,0,0.5);
	}
}*/

.state-description {
    margin:0;
    margin-top:10px;
}

.LTL-states{
    max-height:270px;
    overflow-y:auto;

	table{
        margin-left:0;

		tr{

			td{
                position:relative;
                min-width:55px;
				padding:0;
				
				&.LTL-line-new{
                    height:47px;
				}
			}
		}
	}
}