/* General Functions */
ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
img {
  border: 0;
}
.hoverable:hover {
  cursor: pointer;
}
.invisible {
  display: none;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #E4E4E6;
  position: relative;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
}
* {
  outline: 0 none;
}
.box-sizing {
  box-sizing: border-box;
}
/*  Colors  */
/* Typography */
@font-face {
  font-family: 'Segoe-UI';
  src: url('css/fonts/segoeui-webfont.eot');
  src: url('css/fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/segoeui-webfont.ttf') format('truetype'), url('css/fonts/segoeui-webfont.svg#segoeui') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe-UI-Bold';
  src: url('css/fonts/segoeuib-webfont.eot');
  src: url('css/fonts/segoeuib-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/segoeuib-webfont.ttf') format('truetype'), url('css/fonts/segoeuib-webfont.svg#segoeui') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe-UI-Italic';
  src: url('css/fonts/segoeuii-webfont.eot');
  src: url('css/fonts/segoeuii-webfont.eot?#iefix') format('embedded-opentype'), url('css/fonts/segoeuii-webfont.ttf') format('truetype'), url('css/fonts/segoeuii-webfont.svg#segoeui') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe-UI-Light';
  src: url('css/fonts/segoeuil.eot');
  src: url('css/fonts/segoeuil.eot?#iefix') format('embedded-opentype'), url('css/fonts/segoeuil.ttf') format('truetype'), url('css/fonts/segoeuil.svg#segoeui') format('svg');
  font-weight: normal;
  font-style: normal;
}
.bold {
  font-family: 'Segoe-UI-Bold';
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* Links */
a {
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a.website-link {
  color: #81bb83;
  text-decoration: none;
}
a.website-link:hover {
  text-decoration: underline;
}
.tooltip {
  font-size: 12px;
  background-color: #606060;
  color: white;
  padding: 5px;
  display: inline-block;
}
button {
  color: #606060;
  margin: 0;
}
.default-button {
  background-color: #ededed;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 0 5px;
}
.default-button:hover {
  color: white;
  background-color: #606060;
}
.default-button button {
  border: none;
  padding: 3px;
  min-width: 17px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.default-button button:hover {
  color: white;
}
.default-button button:focus {
  outline: none;
}
ul.button-list {
  margin: 10px 0 0 0;
  padding: 0;
}
ul.button-list li {
  background-color: #ededed;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 0 5px;
}
ul.button-list li:hover {
  color: white;
  background-color: #606060;
}
ul.button-list li button {
  border: none;
  padding: 3px;
  min-width: 17px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  font-size: 0.8em;
  letter-spacing: 1px;
}
ul.button-list li button:hover {
  color: white;
}
ul.button-list li button:focus {
  outline: none;
}
.button-list li.action-button {
  background-color: #606060;
  border: 1px solid white;
  border-radius: 6px;
}
.button-list li.action-button:hover {
  background-color: white;
  border: 1px solid #606060;
}
.button-list li.action-button button {
  font-size: 25px;
  color: white;
  padding: 7px 10px 7px 10px;
}
.button-list li.action-button button:hover {
  color: #606060;
}
.button-list li.action-button.green {
  background-color: #81bb83;
  border: 1px solid white;
  border-radius: 6px;
}
.button-list li.action-button.green:hover {
  background-color: white;
  border: 1px solid #81bb83;
}
.button-list li.action-button.green button {
  font-size: 25px;
  color: white;
  padding: 7px 10px 7px 10px;
}
.button-list li.action-button.green button:hover {
  color: #81bb83;
}
.pill-button-box {
  display: inline-block;
}
.pill-button-box .pill-button {
  background-color: #ededed;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 0 5px;
  width: 20px;
  height: 23px;
  border: none;
  font-size: 1.5em;
}
.pill-button-box .pill-button:hover {
  color: white;
  background-color: #606060;
}
.pill-button-box .pill-button button {
  border: none;
  padding: 3px;
  min-width: 17px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.pill-button-box .pill-button button:hover {
  color: white;
}
.pill-button-box .pill-button button:focus {
  outline: none;
}
.pill-button-box .pill-button:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 1px;
}
.pill-button-box .pill-button:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0;
}
.onoff {
  width: 30px;
  text-align: center;
}
.onoff.green {
  background-color: #81bb83;
}
.onoff.green:hover {
  background-color: #aaaaaa;
}
.onoff.green button {
  color: white;
}
.onoff.grey {
  background-color: #aaaaaa;
}
.onoff.grey:hover {
  background-color: #81bb83;
}
.onoff.grey button {
  color: white;
}
.simulation-popout ul.button-list {
  float: right;
  margin: 0px;
}
.simulation-popout ul.button-list li {
  background-color: #606060;
}
.simulation-popout ul.button-list li:hover {
  background-color: #ededed;
}
.simulation-popout ul.button-list button {
  color: white;
  font-size: 14px;
  padding: 3px;
}
.simulation-popout ul.button-list button:hover {
  color: #606060;
}
.simulation-popout ul.button-list li.steps {
  background-color: #ededed;
  color: #606060;
}
.simulation-popout ul.button-list li.steps button {
  color: #606060;
}
.simulation-popout ul.button-list li.run {
  margin-left: 30px;
  background-color: #81bb83;
  border: 1px solid white;
  border-radius: 6px;
}
.simulation-popout ul.button-list li.run:hover {
  background-color: white;
  border: 1px solid #81bb83;
}
.simulation-popout ul.button-list li.run button {
  font-size: 25px;
  color: white;
  padding: 7px 10px 7px 10px;
}
.simulation-popout ul.button-list li.run button:hover {
  color: #81bb83;
}
ul.ui-helper-hidden.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-menu-icons {
  width: 85px;
  border-radius: 5px;
  padding: 0px;
  font-size: 12px;
  padding: 5px 0px 3px 0px;
}
ul.ui-helper-hidden.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-menu-icons li {
  padding: 0px;
  margin-bottom: 3px;
}
ul.ui-helper-hidden.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-menu-icons li a {
  text-decoration: none;
  line-height: 19px;
  padding: 2px 0px 2px 5px;
  display: block;
  vertical-align: middle;
}
ul.ui-helper-hidden.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-menu-icons li a:hover {
  background-color: #ededed;
}
ul.ui-helper-hidden.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-menu-icons li a img {
  padding: 0px;
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 0px;
  vertical-align: middle;
  position: relative;
  float: left;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ui-icon-scissors {
  background-image: url('../images/icon-cut.svg') !important;
}
.ui-icon-copy {
  background-image: url('../images/icon-copy.svg') !important;
}
.ui-icon-clipboard {
  background-image: url('../images/icon-paste.svg') !important;
}
.ui-icon-trash {
  background-image: url('../images/icon-paste.svg') !important;
}
.ui-icon-pencil {
  background-image: url('../images/icon-edit.svg') !important;
}
.ui-icon-arrow-4-diag {
  background-image: url('../images/icon-size.svg') !important;
}
/* Canvas - Drawing Surface */
.bma-drawingsurfacecontainer {
  height: calc(100% - 70px - 40px);
  /*.calc(height, ~"100% - 70px" - @footer-height);*/
  position: relative;
}
.bma-drawingsurface {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modeldesigner-element-cell {
  stroke-width: 1px;
  stroke: transparent;
}
.modeldesigner-element-hover {
  stroke: gray;
  stroke-width: 2px;
}
.modeldesigner-line-hover {
  stroke-width: 3px;
}
.window.canvas-contextual {
  width: 85px;
  border-radius: 5px;
  padding: 0px;
  font-size: 12px;
}
.window.submenu {
  width: 35px;
}
/* Footer */
.bma-footer {
  height: 40px;
  text-align: center;
}
.bma-pagefooter-msrlogo {
  position: absolute;
  right: 10px;
}
.bma-pagefooter-msrlogo img {
  margin-top: 8px;
  border: none;
}
.bma-pagefooter-logo {
  position: absolute;
  left: 0;
}
.bma-pagefooter-linkcontainer {
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 30px;
  line-height: 30px;
  left: calc(50% - 150px);
  left: -moz-calc(50% - 150px);
  left: -webkit-calc(50% - 150px);
  left: -o-calc(50% - 150px);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.bma-pagefooter-linkcontainer a {
  color: #81bb83;
}
/* Toolbar */
.bma-toolbarpanel {
  background-color: white;
  padding: 10px 0;
  white-space: nowrap;
  display: table;
  width: 100%;
  /*.bma-toolbarpanel-verticalline {
            width: 1px;
            background-color: @midgrey;
            height: 30px;
            position: relative;
        }*/
}
.bma-toolbarpanel > * {
  display: inline-block;
  vertical-align: top;
}
.bma-toolbarpanel .ui-button {
  width: 50px;
  height: 50px;
  margin: 0 0.2em;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background: none;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  /*.ui-button-text {
            padding: 0;
        }*/
  /*.pointer-icon;//{background-image: url("../images/pointer.svg");}
	    .undo-icon;//{background-image: url("../images/undo.svg");}
	    .redo-icon;//{background-image: url("../images/redo.svg");}
	    .cell-icon;//{background-image: url("../images/container.svg");}
	    .variable-icon;//{background-image: url("../images/variable.svg");}
	    .constant-icon;//{background-image: url("../images/constant.svg");}
		.receptor-icon;//{background-image: url("../images/receptor.svg");}*/
}
.bma-toolbarpanel .ui-button span {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}
.bma-toolbarpanel .ui-button span div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border: none;
  margin: auto;
}
.bma-toolbarpanel .ui-button:not(.ui-state-active):hover {
  background-color: #ededed;
  cursor: pointer;
}
.bma-toolbarpanel .ui-button .ui-state-active {
  background-color: #606060;
}
.bma-toolbarpanel .ui-button .activate-icon {
  background-image: url("../images/activate.svg");
}
.bma-toolbarpanel .ui-button .inhibit-icon {
  background-image: url("../images/inhibitor.svg");
}
.bma-toolbarpanel .ui-button .view-options-icon {
  background-image: url("../images/visicon2.svg");
  background-size: 45px;
}
.bma-toolbarpanel label[aria-pressed='true'] {
  background-color: #606060;
  border-color: #606060;
}
.bma-toolbarpanel label[aria-pressed='true']:hover {
  background-color: #606060;
}
.bma-toolbarpanel label[aria-pressed='true'] .pointer-icon {
  background-image: url("../images/pointer ON.svg");
}
.bma-toolbarpanel label[aria-pressed='true'] .cell-icon {
  background-image: url("../images/container-ON.svg");
}
.bma-toolbarpanel label[aria-pressed='true'] .variable-icon {
  background-image: url("../images/variable-ON.svg");
}
.bma-toolbarpanel label[aria-pressed='true'] .constant-icon {
  background-image: url("../images/constant-ON.svg");
}
.bma-toolbarpanel label[aria-pressed='true'] .receptor-icon {
  background-image: url("../images/receptor-ON.svg");
}
.bma-toolbarpanel label[aria-pressed='true'] .activate-icon {
  background-image: url("../images/activate-ON.svg");
}
.bma-toolbarpanel label[aria-pressed='true'] .inhibit-icon {
  background-image: url("../images/inhibitor-ON.svg");
}
.bma-toolbarpanel label[aria-pressed='true'] .view-options-icon {
  background-image: url("../images/visicon2-ON.svg");
  border-bottom-left-radius: 0px;
}
.bma-toolbarpanel .bma-toolbarpanel-undoredotoolbar {
  margin-left: calc(5% - 40px);
  margin-left: -moz-calc(5% - 40px);
  margin-left: -webkit-calc(5% - 40px);
  margin-left: -o-calc(5% - 40px);
}
/*.bma-toolbarpanel .bma-toolbarpanel-visibilityoptions-zoomslider {
        width: @zoomslider-width;
        a  {
            background: transparent;
            cursor: pointer;
            border: 10px solid transparent;
            border-bottom: 20px solid gray;
            border-radius: 0;
            width: 0;
            top: -10px;
            height: 0;
        }
    }*/
/*accessible for draggable-helper-element */
.pointer-icon {
  background-image: url("../images/pointer.svg");
}
.undo-icon {
  background-image: url("../images/undo.svg");
}
.redo-icon {
  background-image: url("../images/redo.svg");
}
.cell-icon {
  background-image: url("../images/container.svg");
}
.variable-icon {
  background-image: url("../images/variable.svg");
}
.constant-icon {
  background-image: url("../images/constant.svg");
}
.receptor-icon {
  background-image: url("../images/receptor.svg");
}
.draggable-helper-element {
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
}
.tool-icon {
  width: 50px;
  height: 50px;
  margin: 0 0.2em;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background: none;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  /*.ui-button-text {
            padding: 0;
        }*/
  /*.pointer-icon;//{background-image: url("../images/pointer.svg");}
	    .undo-icon;//{background-image: url("../images/undo.svg");}
	    .redo-icon;//{background-image: url("../images/redo.svg");}
	    .cell-icon;//{background-image: url("../images/container.svg");}
	    .variable-icon;//{background-image: url("../images/variable.svg");}
	    .constant-icon;//{background-image: url("../images/constant.svg");}
		.receptor-icon;//{background-image: url("../images/receptor.svg");}*/
}
.tool-icon span {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}
.tool-icon span div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border: none;
  margin: auto;
}
.tool-icon:not(.ui-state-active):hover {
  background-color: #ededed;
  cursor: pointer;
}
.tool-icon .ui-state-active {
  background-color: #606060;
}
.tool-icon .activate-icon {
  background-image: url("../images/activate.svg");
}
.tool-icon .inhibit-icon {
  background-image: url("../images/inhibitor.svg");
}
.tool-icon .view-options-icon {
  background-image: url("../images/visicon2.svg");
  background-size: 45px;
}
.zoomslider-container {
  position: relative;
}
.zoomslider-container > * {
  display: inline-block;
  vertical-align: top;
}
.zoomslider-container img:last-child {
  margin-left: 18px;
}
.zoomslider-container .zoomslider-bar {
  width: 400px;
  height: 25px;
  margin-top: 5px;
  border: none;
  text-align: center;
  position: relative;
}
.zoomslider-container .zoomslider-bar:before {
  content: '';
  position: absolute;
  border: 1px solid #606060;
  border-bottom: none;
  left: -2px;
  width: 420px;
  height: 25px;
}
.zoomslider-container .zoomslider-bar:after {
  content: "";
  position: absolute;
  height: 70%;
  top: 0;
  bottom: 0;
  left: calc(50% + 10px);
  left: -moz-calc(50% + 10px);
  left: -webkit-calc(50% + 10px);
  left: -o-calc(50% + 10px);
  border-left: 1px solid #606060;
}
.zoomslider-container .zoomslider-bar .zoomslider-pointer {
  background: transparent;
  position: absolute;
  top: -10px;
  border: 10px solid transparent;
  border-bottom: 20px solid #606060;
  border-radius: 0;
}
/*  Windows  */
.window {
  padding: 15px;
  margin: 0px;
  width: 400px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.5);
}
.window p {
  margin: 0;
  padding: 0;
  width: 95%;
}
.close-icon {
  float: right;
  margin-right: 0;
  cursor: pointer;
}
.close-icon img {
  width: 20px;
  height: 20px;
}
/*.close-icon {
            float: right;
			cursor: pointer;
			width: 20px;
			height: 20px;
		}*/
.bma-toolbarpanel-visibilityoptions {
  margin-left: -moz-calc(40% - 387px);
  margin-left: -webkit-calc(40% - 387px);
  margin-left: -o-calc(40% - 387px);
  margin-left: calc(40% - 387px);
}
.bma-toolbarpanel-visibilityoptions .accordion-expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.bma-toolbarpanel-visibilityoptions .window.vis-options {
  position: absolute;
  width: 200px;
  border-top-left-radius: 0;
  margin: 0 0.2em;
}
.bma-toolbarpanel-visibilityoptions .window.vis-options .option-name {
  width: 90px;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.bma-toolbarpanel-visibilityoptions .window.vis-options ul > li {
  display: block;
  margin-bottom: 10px;
}
.bma-toolbarpanel-visibilityoptions .window.vis-options ul > li > * {
  display: inline-block;
  vertical-align: middle;
}
.bma-accordion-container {
  position: relative;
}
.bma-accordion-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bma-accordion-container ul li {
  display: inline-block;
  vertical-align: middle;
}
.bma-accordion-container ul li * {
  position: relative;
}
.bma-accordion-header {
  cursor: pointer;
}
.accordion-shadow {
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
/*.accordion-collapsed {
		    border: 1px solid lightgray;
		    border-radius: @toolbar-icon-border-radius;
		}*/
.accordion-expanded {
  border-color: transparent;
  -webkit-box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.5);
  /*@r: toolbar-icon-border-radius;
		    border-radius: @r @r 0 0;*/
}
/* File I/O Tab */
.modelstorage-toolbar-header {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5);
}
.modelstorage-toolbar-header li {
  background-color: white;
}
.modelstorage-toolbar-modelname {
  width: 150px;
  height: 50px;
  background-image: -moz-linear-gradient(left, #ededed 0, white 50%);
  background-image: -webkit-linear-gradient(left, #ededed 0, white 50%);
  background-image: -ms-linear-gradient(left, #ededed 0, white 50%);
  background-image: -webkit-gradient(linear, left, #ededed 0, white 50%);
}
.modelstorage-toolbar-modelname input {
  border: none;
  text-align: center;
  margin-top: 7px;
}
.modelstorage-toolbar-modelname input:focus {
  box-shadow: none;
}
.modelstorage-toolbar-expand-bttn {
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  background-image: url('../images/expand-collapse.svg');
  background-repeat: no-repeat;
  background-position: center;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.modelstorage-toolbar-content {
  overflow: hidden;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #ededed;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.5);
}
.modelstorage-toolbar-content > ul > li > div {
  background-color: transparent;
  width: 60px;
  height: 105px;
  padding-bottom: 5px;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: bottom;
  border: none;
  text-align: center;
  cursor: pointer;
}
.openButton {
  background-image: url('../images/open.svg');
}
.newButton {
  background-image: url('../images/new.svg');
}
.saveButton {
  background-image: url('../images/save.svg');
}
.localStorageButton {
  background-image: url("../images/local.svg");
}
.localSaveButton {
  background-image: url("../images/savelocally.svg");
}
textarea,
input {
  outline: none;
}
input {
  padding-left: 5px;
  border: 1px solid #aaaaaa;
  box-shadow: none;
  height: 25px;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
}
input:focus {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ededed;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ededed;
  opacity: 1;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ededed;
  opacity: 1;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ededed;
}
.item-name-input {
  height: 30px;
  width: 150px;
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  padding-bottom: 5px;
  font-family: 'Segoe-UI-Light';
  background: transparent;
  padding: 0 0 0 5px;
}
.item-name-input .expand-collapse-bttn {
  float: right;
}
.item-name-input:focus {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
textarea {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #aaaaaa;
  box-shadow: none;
}
textarea:focus {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.window-title {
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  padding-bottom: 5px;
}
.window-title .expand-collapse-bttn {
  float: right;
}
.expand-window-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.window-title-light {
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  padding-bottom: 5px;
  font-family: 'Segoe-UI-Light';
}
.window-title-light .expand-collapse-bttn {
  float: right;
}
.window.variable-editor {
  width: 380px;
  height: 330px;
}
.variable-editor input {
  width: 30px;
}
.variable-editor .editor-namerange-container > * {
  display: inline-block;
  vertical-align: middle;
}
.variable-editor .editor-namerange-container > *:nth-child(2) {
  margin-left: 30px;
}
.variable-editor .editor-namerange-container > *:nth-child(2) > * {
  display: inline-block;
  vertical-align: middle;
}
.variable-editor .editor-namerange-container > *:nth-child(2) > * {
  margin: 2px;
}
.variable-editor .editor-namerange-container > *:nth-child(2) span {
  margin-bottom: 5px;
}
.variable-editor .variable-name {
  height: 30px;
  width: 150px;
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  padding-bottom: 5px;
  font-family: 'Segoe-UI-Light';
  background: transparent;
  padding: 0 0 0 5px;
}
.variable-editor .variable-name .expand-collapse-bttn {
  float: right;
}
.variable-editor .variable-name:focus {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.variable-editor .spacer {
  display: inline;
  padding-left: 30px;
}
.variable-editor .div-triangles {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.variable-editor .triangle-up,
.variable-editor .triangle-down {
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin: 1px;
  margin-bottom: 5px;
  cursor: pointer;
}
.variable-editor .triangle-up {
  border-bottom: 7px solid #aaaaaa;
  border-top: none;
}
.variable-editor .triangle-up:hover {
  border-bottom: 7px solid #ededed;
  border-top: none;
}
.variable-editor .triangle-down {
  border-top: 7px solid #aaaaaa;
  border-bottom: none;
}
.variable-editor .triangle-down:hover {
  border-top: 7px solid #ededed;
  border-bottom: none;
}
.variable-editor .target-function {
  margin-top: 20px;
}
.variable-editor .target-function .formula-text-area {
  width: 80%;
  height: 70px;
  resize: vertical;
  max-height: 150px;
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  padding-bottom: 5px;
  font-family: 'Segoe-UI-Light';
  color: #606060;
  padding: 0 5px;
  resize: none;
}
.variable-editor .target-function .formula-text-area .expand-collapse-bttn {
  float: right;
}
.variable-editor .target-function .formula-text-area.formula-failed-textarea {
  border: 1px solid #feb6b2;
}
.variable-editor .target-function .formula-text-area.formula-validated-textarea {
  border: 1px solid #81bb83;
}
.variable-editor .target-function .formula-validation-message {
  color: #feb6b2;
  max-height: 40px;
}
.variable-editor .functions,
.variable-editor .operators {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}
.variable-editor .functions {
  width: 30%;
}
.variable-editor .functions li {
  background-color: #ededed;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 0 5px;
  display: table;
  margin: 0 0 5px 0;
}
.variable-editor .functions li:hover {
  color: white;
  background-color: #606060;
}
.variable-editor .functions li button {
  border: none;
  padding: 3px;
  min-width: 17px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.variable-editor .functions li button:hover {
  color: white;
}
.variable-editor .functions li button:focus {
  outline: none;
}
.variable-editor .functions li:hover button {
  color: white;
}
.variable-editor .functions li:hover .inputs-list-header .inputs-expandbttn {
  border-top-color: #ededed;
}
.variable-editor .functions li:hover .inputs-list-header-expanded .inputs-expandbttn {
  border-bottom-color: #ededed;
}
.variable-editor .functions li.var-button {
  position: relative;
}
.variable-editor .inputs-list-content {
  position: absolute;
  width: 100%;
  padding-bottom: 5px;
  overflow: hidden;
  z-index: 3;
  left: 0;
  top: 22px;
  background-color: inherit;
  border-radius: 0 0 15px 15px;
  text-align: center;
}
.variable-editor .inputs-list-content > div:hover {
  color: #b3b3b3;
}
.variable-editor .operators ul {
  margin: 0 0 5px 0;
}
.variable-editor .operators li {
  background-color: #ededed;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 0 5px;
}
.variable-editor .operators li:hover {
  color: white;
  background-color: #606060;
}
.variable-editor .operators li button {
  border: none;
  padding: 3px;
  min-width: 17px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.variable-editor .operators li button:hover {
  color: white;
}
.variable-editor .operators li button:focus {
  outline: none;
}
.variable-editor .operators li:hover button {
  color: white;
}
.variable-editor .operators-info {
  margin-top: 10px;
}
.variable-editor .inputs-list-header {
  display: inline-block;
  vertical-align: middle;
}
.variable-editor .inputs-list-header .inputs-expandbttn {
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin: 1px;
  margin-bottom: 5px;
  cursor: pointer;
  border-top: 7px solid #aaaaaa;
  border-bottom: none;
  float: right;
  margin: 5px 0 0 0;
}
.variable-editor .inputs-list-header .inputs-expandbttn:hover {
  border-top: 7px solid #ededed;
  border-bottom: none;
}
.variable-editor .inputs-list-header-expanded {
  display: inline-block;
  vertical-align: middle;
}
.variable-editor .inputs-list-header-expanded .inputs-expandbttn {
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin: 1px;
  margin-bottom: 5px;
  cursor: pointer;
  border-bottom: 7px solid #aaaaaa;
  border-top: none;
  float: right;
  margin: 5px 0 0 0;
}
.variable-editor .inputs-list-header-expanded .inputs-expandbttn:hover {
  border-bottom: 7px solid #ededed;
  border-top: none;
}
.window.container-name {
  border-radius: 5px;
}
.container-name {
  height: 30px;
  width: 190px;
  padding: 10px;
  display: block;
}
.container-name input {
  height: 30px;
  width: 150px;
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  padding-bottom: 5px;
  font-family: 'Segoe-UI-Light';
  background: transparent;
  padding: 0 0 0 5px;
}
.container-name input .expand-collapse-bttn {
  float: right;
}
.container-name input:focus {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.bma-modeltoolbarcontainer,
.bma-analyticstoolbarcontainer {
  position: absolute;
  top: 50px;
  width: 100%;
}
.analytics-header {
  background-color: white;
  width: 80px;
  height: 70px;
  border: hidden;
  margin: 0;
  padding: 0;
  border-radius: 7px 0 0 7px;
  -webkit-box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.5);
}
.analytics-header img {
  border: hidden;
  float: left;
  margin: 5px;
  width: 60px;
  height: 60px;
}
.analytics-header img:nth-child(1) {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.proof-state > * {
  display: inline-block;
  vertical-align: middle;
}
.proof-state div {
  margin-left: 10px;
  font-size: 17px;
  font-weight: bold;
  line-height: 40px;
  vertical-align: middle;
}
.proof-state div.stabilize-failed {
  color: red;
}
.proof-state div.stabilize-prooved {
  color: #81bb83;
}
.proof-state img {
  margin: 0;
  padding: 0;
}
.analysis-title {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.variables-table {
  table-layout: fixed;
  word-break: break-all;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 99%;
  border-collapse: collapse;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  border: 1px solid #606060;
  /*td:nth-child(1){
				width:20%;
			}
			td:nth-child(2){
				width:65%;
				text-align: left;
			}
			td:nth-child(3){
				width:15%;
			}*/
}
.variables-table td {
  vertical-align: middle;
  border: 1px solid #aaaaaa;
  text-align: center;
  padding: 1px 3px 1px 3px;
  color: #606060;
  height: 20px;
}
.variables-table tr:first-child td {
  word-break: initial;
  background-color: #606060;
  border-color: #606060;
  border-width: 1px;
  color: white;
}
.variables-table tr:nth-child(odd) {
  background-color: #ededed;
}
.furhter-testing {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 99%;
  border-collapse: collapse;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  border: 1px solid #606060;
  margin: 2px 0 0 0;
}
.furhter-testing td {
  vertical-align: middle;
  border: 1px solid #aaaaaa;
  text-align: center;
  padding: 1px 3px 1px 3px;
  color: #606060;
  height: 20px;
}
.furhter-testing tr:first-child td {
  word-break: initial;
  background-color: #606060;
  border-color: #606060;
  border-width: 1px;
  color: white;
}
.furhter-testing tr:nth-child(odd) {
  background-color: #ededed;
}
.proof-variables .scrollable-results .variables-table td:nth-child(1) {
  width: 20%;
}
.proof-variables .scrollable-results .variables-table td:nth-child(2) {
  width: 65%;
  text-align: left;
}
.proof-variables .scrollable-results .variables-table td:nth-child(3) {
  width: 15%;
}
.proof-propagation-overview {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 99%;
  border-collapse: collapse;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
}
.proof-propagation-overview td {
  border: 1px solid white;
  width: auto;
  height: 5px;
}
.proof-propagation-overview .propagation-cell-red {
  background-color: #feb6b2;
}
.proof-propagation-overview .propagation-cell-green {
  background-color: #d9ffb6;
}
/*.simulation-variables{
				.scrollable-results{
					.variables-table{
						td:nth-child(1){
							width:20px;
							border-bottom-color:white;
						}
						td:nth-child(2){
							width:20px;
						}
						td:nth-child(4){
							width:45px;
						}
						tr:first-child td{
							border-bottom-color:@darkgrey;
						}
					}
				}
			}*/
/*  Analysis Tabs  */
.proof-variables-popout .scrollable-results {
  overflow-x: scroll;
}
.proof-variables-popout .scrollable-results .variables-table {
  width: 99%;
}
.proof-variables-popout .scrollable-results .variables-table td:nth-child(1) {
  width: 15%;
}
.proof-variables-popout .scrollable-results .variables-table td:nth-child(2) {
  width: 75%;
  text-align: left;
}
.proof-variables-popout .scrollable-results .variables-table td:nth-child(3) {
  width: 10%;
}
.proof-propagation-table {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border-collapse: collapse;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  width: 99%;
  text-align: center;
}
.proof-propagation-table tr:first-child td {
  word-break: initial;
  background-color: #606060;
  border-color: #606060;
  border-right-color: white;
  text-align: center;
  border-width: 1px;
  color: white;
}
.proof-propagation-table td {
  min-width: 45px;
  padding: 2px;
  border: 1px solid white;
}
.proof-propagation-table .propagation-cell-red {
  background-color: #feb6b2;
}
.proof-propagation-table .propagation-cell-green {
  background-color: #d9ffb6;
}
.simulation-popout .scrollable-results .small-simulation-popout-table {
  display: inline-block;
  width: 250px;
}
.simulation-popout .scrollable-results .small-simulation-popout-table .variables-table td:nth-child(1) {
  width: 40px;
}
.simulation-popout .scrollable-results .small-simulation-popout-table .variables-table tr:not(:first-child) td:nth-child(1) {
  width: 5px;
  border-bottom-color: white;
}
.simulation-popout .scrollable-results .small-simulation-popout-table .variables-table td:nth-child(3) {
  width: 50px;
}
.simulation-popout .scrollable-results .big-simulation-popout-table {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: calc(100% - 250px);
  width: -moz-calc(100% - 250px);
  width: -webkit-calc(100% - 250px);
  width: -o-calc(100% - 250px);
}
.simulation-popout .scrollable-results .big-simulation-popout-table .variables-table {
  margin-left: 30px;
  width: 90px;
  table-layout: auto;
}
.simulation-popout .scrollable-results .big-simulation-popout-table .variables-table input {
  height: 17px;
  width: 100%;
  border: none;
  text-align: center;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
.simulation-popout .scrollable-results .big-simulation-popout-table .variables-table input:focus {
  box-shadow: none;
}
.tab-right {
  padding: 15px;
  margin: 0px;
  width: 400px;
  min-height: 200px;
  background: #FFFFFF;
  -webkit-box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.5);
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: auto;
}
.tab-right p {
  margin: 0;
  padding: 0;
  width: 95%;
}
.popout-icon {
  display: inline;
  float: right;
  margin-right: 8px;
  cursor: pointer;
}
.popout-icon img {
  width: 20px;
  height: 20px;
}
.proof-variables-popout .popout-icon {
  margin-right: 14px;
}
.proof-variables .scrollable-results {
  max-height: 121px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
}
.proof-variables .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.proof-variables .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.proof-variables .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.proof-propagation .scrollable-results {
  max-height: 150px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
}
.proof-propagation .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.proof-propagation .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.proof-propagation .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.simulation-variables {
  margin-top: 10px;
}
.simulation-variables .scrollable-results {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
}
.simulation-variables .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.simulation-variables .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.simulation-variables .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.popup-window {
  position: absolute;
  z-index: 7;
  width: 850px;
  height: 550px;
}
.window.proof-variables-popout {
  width: 850px;
  height: 550px;
}
.window.proof-variables-popout .scrollable-results {
  max-height: 500px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
}
.window.proof-variables-popout .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.window.proof-variables-popout .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.window.proof-variables-popout .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.window.proof-propagation-popout {
  width: 850px;
  height: 550px;
}
.window.proof-propagation-popout .scrollable-results {
  overflow-x: scroll;
  max-height: 500px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
}
.window.proof-propagation-popout .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.window.proof-propagation-popout .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.window.proof-propagation-popout .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.window.proof-propagation-popout .scrollable-results::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
  background-color: #aaaaaa;
}
.window.proof-propagation-popout .scrollable-results::-webkit-scrollbar-track:horizontal {
  height: 20px;
  background-color: white;
}
.window.simulation-popout {
  width: 850px;
  height: 550px;
}
.window.simulation-popout .scrollable-results {
  max-height: 470px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-bottom: 5px;
  white-space: nowrap;
  height: 470px;
}
.window.simulation-popout .scrollable-results::-webkit-scrollbar-track {
  width: 20px;
  background-color: white;
}
.window.simulation-popout .scrollable-results::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaaaaa;
}
.window.simulation-popout .scrollable-results::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 5px;
  background-color: #aaaaaa;
}
.window.simulation-popout .scrollable-results .small-simulation-popout-table {
  display: inline-block;
  width: 250px;
}
.add-variable-to-plot-checker {
  background-image: url("../images/check.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.dialog {
  position: absolute;
  width: 300px;
}
.dialog .button-list {
  float: right;
  font-size: 15px;
}
.dialog .button-list button {
  background-color: #ededed;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 0 5px;
  border: none;
  padding: 5px 10px;
}
.dialog .button-list button:hover {
  color: white;
  background-color: #606060;
}
.dialog .button-list button button {
  border: none;
  padding: 3px;
  min-width: 17px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.dialog .button-list button button:hover {
  color: white;
}
.dialog .button-list button button:focus {
  outline: none;
}
/* Model Toolbar */
.model-toolbar .model-icons {
  padding: 5px;
  background-color: #ededed;
  -webkit-box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 0;
  width: 320px;
  height: 110px;
  display: inline-block;
  margin-right: -4px;
}
.model-toolbar .model-icons ul li {
  display: inline-block;
}
.model-toolbar .model-icons ul li div {
  background-color: transparent;
  width: 60px;
  height: 105px;
  padding-bottom: 5px;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: bottom;
  border: none;
  text-align: center;
  cursor: pointer;
}
.model-toolbar .model-icons ul li div.local-save-btn {
  background-image: url("../images/savelocally.svg");
}
.model-toolbar .model-icons ul li div.new-btn {
  background-image: url("../images/new.svg");
}
.model-toolbar .model-icons ul li div.local-storage-btn {
  background-image: url("../images/local.svg");
}
.model-toolbar .model-icons ul li div.import-btn {
  background-image: url("../images/open.svg");
}
.model-toolbar .model-icons ul li div.export-btn {
  background-image: url("../images/save.svg");
}
.model-toolbar .model-name {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(left, #ededed, white);
  background-image: -webkit-linear-gradient(left, #ededed, white);
  background-image: -ms-linear-gradient(left, #ededed, white);
  background-image: -webkit-gradient(linear, left, #ededed, white);
  vertical-align: top;
  left: -5px;
  width: 220px;
  height: 50px;
  display: inline-block;
}
.model-toolbar .model-name ul > li {
  display: inline-block;
  vertical-align: middle;
}
.model-toolbar .model-name input {
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 27px;
  margin-right: 10px;
  padding-bottom: 5px;
  width: 160px;
  margin: 0 10px;
}
.model-toolbar .model-name input .expand-collapse-bttn {
  float: right;
}
.model-toolbar .model-name input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.model-toolbar .model-name .expand-btn {
  display: inline-block;
  width: 30px;
  height: 50px;
  border: none;
  background-image: url('../images/expand-collapse.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.ui-accordion-header-active .expand-btn {
  border-radius: 0;
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.model-repository {
  width: 250px;
  z-index: 7;
}
.model-repository ol {
  list-style-type: none;
  padding-left: 0px;
  font-family: 'Segoe-UI';
  font-size: 13px;
  line-height: 17px;
  color: #606060;
  line-height: 25px;
}
.model-repository ol li {
  vertical-align: middle;
  padding-left: 5px;
  cursor: pointer;
}
.model-repository ol li:nth-child(odd) {
  background-color: #ededed;
}
.model-repository ol li.ui-selected {
  background-color: #aaaaaa;
  color: white;
}
.model-repository ol li button.delete {
  border: none;
  display: inline-block;
  background-color: transparent;
  height: 25px;
  width: 20px;
  float: right;
  cursor: pointer;
}
.model-repository ol li button.delete:hover {
  background-color: #aaaaaa;
}
.model-repository ol li .icon-delete {
  background-image: url('../images/icon-delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/*# sourceMappingURL=StyleSheet.css.map */